$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 7rem;
  padding: 1.6rem;

  .logo {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    background-image: url("../assets/images/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .menu {
    .menu-icon {
      display: inline-block;
      width: 4.2rem;
      height: 4.8rem;
      background-image: url("../assets/images/icon-menu.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .menu-section {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      transition-duration: 300ms;
      &.hide {
        display: none;
      }
      .menu-section__left {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background-color: $very-dark-blue;
        opacity: 0.5;
      }
      .menu-section__right {
        position: fixed;
        width: 70%;
        height: 100%;
        right: 0;
        padding: 2.4rem;
        background-color: $off-white;

        .menu-options {
          margin: 12rem 0 0 0;
          padding: 0;
          width: 100%;
          list-style: none;
          li {
            font-size: 1.8rem;
            height: 4rem;
          }
        }

        .menu-options__close-icon {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;
          width: 3.2rem;
          height: 3.2rem;
          margin: 2.4rem;
          background-image: url("../assets/images/icon-menu-close.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

main {
  padding: 0.5rem 1.6rem;

  & > * {
    margin: 0 0 6.4rem 0;
  }
  .last-news {
    .last-news__figure {
      margin: 0 0 2rem 0;
      img {
        width: 100%;
      }
    }
    .last-news__title {
      margin: 0 0 1.6rem 0;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1;
    }
    .last-news__description {
      margin: 0 0 2rem 0;
      font-size: 1.5rem;
      line-height: 1.8;
      color: $dark-grayish-blue;
    }
    .last-news__link {
      display: inline-block;
      width: 19rem;
      padding: 1.6rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      background-color: $soft-red;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-decoration: none;
      color: $off-white;
    }
  }
  .secondary-news {
    padding: 2.4rem;
    background-color: $very-dark-blue;
    .secondary-news__title {
      font-size: 3.2rem;
      color: $soft-orange;
    }
    .secondary-news__item {
      padding: 3rem 0;
      border-bottom: 0.1rem solid $dark-grayish-blue;
      color: $off-white;
      &:last-child {
        padding: 3rem 0 0 0;
        border: 0;
      }
      .secondary-new__title {
        margin: 0 0 1.2rem 0;
        font-size: 2rem;
        font-weight: 700;
      }
      .secondary-new__description {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6;
        color: $dark-grayish-blue;
      }
    }
  }
  .top-news {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .top-new {
      display: grid;
      grid-template-columns: 10rem repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 2.4rem;
      row-gap: 0.8rem;
      height: 12rem;

      figure {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        .top-new__img {
          width: 100%;
          height: 100%;
        }
      }
      .top-new__number {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        font-size: 3.2rem;
        font-weight: 700;
        color: $grayish-blue;
      }
      .top-new__name {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        font-size: 1.8rem;
        font-weight: 800;
      }
      .top-new__description {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
        font-size: 1.5rem;
        font-weight: 400;
        color: $dark-grayish-blue;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  height: 5vh;
  padding: 1rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
