* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 7rem;
  padding: 1.6rem;
}
header .logo {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  background-image: url("../assets/images/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
header .menu .menu-icon {
  display: inline-block;
  width: 4.2rem;
  height: 4.8rem;
  background-image: url("../assets/images/icon-menu.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
header .menu .menu-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-duration: 300ms;
}
header .menu .menu-section.hide {
  display: none;
}
header .menu .menu-section .menu-section__left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: hsl(240deg, 100%, 5%);
  opacity: 0.5;
}
header .menu .menu-section .menu-section__right {
  position: fixed;
  width: 70%;
  height: 100%;
  right: 0;
  padding: 2.4rem;
  background-color: hsl(36deg, 100%, 99%);
}
header .menu .menu-section .menu-section__right .menu-options {
  margin: 12rem 0 0 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
header .menu .menu-section .menu-section__right .menu-options li {
  font-size: 1.8rem;
  height: 4rem;
}
header .menu .menu-section .menu-section__right .menu-options li a {
  text-decoration: none;
  color: inherit;
}
header .menu .menu-section .menu-section__right .menu-options__close-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  margin: 2.4rem;
  background-image: url("../assets/images/icon-menu-close.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  padding: 0.5rem 1.6rem;
}
main > * {
  margin: 0 0 6.4rem 0;
}
main .last-news .last-news__figure {
  margin: 0 0 2rem 0;
}
main .last-news .last-news__figure img {
  width: 100%;
}
main .last-news .last-news__title {
  margin: 0 0 1.6rem 0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}
main .last-news .last-news__description {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
  color: hsl(236deg, 13%, 42%);
}
main .last-news .last-news__link {
  display: inline-block;
  width: 19rem;
  padding: 1.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: hsl(5deg, 85%, 63%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
}
main .secondary-news {
  padding: 2.4rem;
  background-color: hsl(240deg, 100%, 5%);
}
main .secondary-news .secondary-news__title {
  font-size: 3.2rem;
  color: hsl(35deg, 77%, 62%);
}
main .secondary-news .secondary-news__item {
  padding: 3rem 0;
  border-bottom: 0.1rem solid hsl(236deg, 13%, 42%);
  color: hsl(36deg, 100%, 99%);
}
main .secondary-news .secondary-news__item:last-child {
  padding: 3rem 0 0 0;
  border: 0;
}
main .secondary-news .secondary-news__item .secondary-new__title {
  margin: 0 0 1.2rem 0;
  font-size: 2rem;
  font-weight: 700;
}
main .secondary-news .secondary-news__item .secondary-new__description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(236deg, 13%, 42%);
}
main .top-new {
  display: grid;
  grid-template-columns: 10rem repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  row-gap: 0.8rem;
  height: 12rem;
  margin: 0 0 3.2rem 0;
}
main .top-new figure {
  grid-column: 1/2;
  grid-row: 1/4;
}
main .top-new figure .top-new__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .top-new .top-new__number {
  grid-column: 2/5;
  grid-row: 1/2;
  font-size: 3.2rem;
  font-weight: 700;
  color: hsl(233deg, 8%, 79%);
}
main .top-new .top-new__name {
  grid-column: 2/5;
  grid-row: 2/3;
  font-size: 1.8rem;
  font-weight: 800;
}
main .top-new .top-new__name a {
  text-decoration: none;
  color: inherit;
}
main .top-new .top-new__description {
  grid-column: 2/5;
  grid-row: 3/4;
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(236deg, 13%, 42%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  height: 5vh;
  padding: 1rem 0;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 769px) {
  header {
    padding: 8rem 15rem 4rem;
    min-height: 5rem;
  }
  header .logo {
    width: 6.4rem;
    height: 6.4rem;
  }
  header .menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .menu .menu-icon {
    display: none;
  }
  header .menu .menu-section {
    position: relative;
  }
  header .menu .menu-section.hide {
    display: inline-block;
  }
  header .menu .menu-section .menu-section__left {
    display: none;
  }
  header .menu .menu-section .menu-section__right {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    background-color: transparent;
  }
  header .menu .menu-section .menu-section__right .menu-options__close-icon {
    display: none;
  }
  header .menu .menu-section .menu-section__right .menu-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 6.4rem;
    gap: 4rem;
  }
  header .menu .menu-section .menu-section__right .menu-options li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.5rem;
    color: hsl(236deg, 13%, 42%);
  }
  header .menu .menu-section .menu-section__right .menu-options li:hover {
    color: hsl(5deg, 85%, 63%);
  }
  main {
    display: grid;
    grid-template-areas: "last last other" "last last other" "tops tops tops";
    gap: 3.2rem;
    row-gap: 5.6rem;
    padding: 0 15rem 10rem;
  }
  main > * {
    margin: 0;
  }
  main .last-news {
    grid-area: last;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3.2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .last-news .last-news__figure {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 30rem;
    margin: 0;
  }
  main .last-news .last-news__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  main .last-news .last-news__title {
    font-size: 5.6rem;
    margin: 0;
  }
  main .last-news .last-news__description {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0 1.6rem 0 0;
  }
  main .last-news .last-news__link:hover {
    background-color: hsl(240deg, 100%, 5%);
  }
  main .secondary-news {
    grid-area: other;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .secondary-news .secondary-news__item .secondary-new__title:hover {
    cursor: pointer;
    color: hsl(35deg, 77%, 62%);
  }
  main .top-new .top-new__name a:hover {
    color: hsl(5deg, 85%, 63%);
  }
}/*# sourceMappingURL=style.css.map */